.navbar-brand{
padding-left:20px !important;
}
    .navbar-expand-lg .navbar-collapse {
      padding-left: 20px;
    }
.active .nav-link {
    background-color: #e9e9e9;
    color: black;
}
.navbar-expand-lg .navbar-collapse {
    padding: 0px;
}
.navbar-expand-lg {
    padding: 0px;
    }
body > .container1 {
    padding: 0px;
}
.navbar-expand-lg .navbar-collapse {
    background-color: #4267B2;
}
